@import '../../common';

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba($mask, 0.4);

  &.open {
    display: block;
  }
}
