@import '../../../../common/common';

:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  flex-grow: 1;
}

.search-menu-item {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  overflow: hidden;

  .search-menu-button {
    width: 100%;
    text-align: start;

    i {
      position: relative;
      z-index: 1;
      width: 2.5rem;
      margin-left: 1rem;
      font-size: 1rem;
    }

    .item-title {
      color: $foreground;
      font-weight: bold;
    }
  }
}
