<div class="master-wrapper">
  <div class="master-tabs">
    <div (click)="onSearchTabPress()"
         class="search-tab">
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>
    <div (click)="onFavTabPress()"
         class="fav-tab">
      <i class="fa fa-star" aria-hidden="true"></i>
    </div>
  </div>
  <div class="master-content">
    <mm-search *ngIf="currentContent === 'search'"></mm-search>
    <mm-favorite *ngIf="currentContent === 'favorite'"></mm-favorite>
  </div>
</div>
