<md-list class="favorite-list">
  <md-list-item *ngFor="let item of itemsData"
                (click)="onListItemPress(item.data)"
                class="favorite-list-item">
    <i [ngClass]="['fa', 'category-icon', item.iconCategory]" aria-hidden="true"></i>
    <i [ngClass]="['fa', 'type-icon', item.iconType]" aria-hidden="true"></i>
    <span class="favorite-name">{{item.data.title}}</span>
    <button (click)="onEditBtnPress(item.data)"
            md-button
            color="primary"
            class="item-edit-btn">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </button>
    <button (click)="onDeleteBtnPress(item.data)"
            md-button
            color="warn"
            class="item-delete-btn">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </md-list-item>
</md-list>
