<div class="login-container">
  <form #loginForm="ngForm"
        novalidate
        (ngSubmit)="onSubmit(loginForm.value)">
    <md-input-container>
      <input mdInput
             ngModel
             name="login"
             placeholder="Login"
             required
             minlength="4">
    </md-input-container>
    <md-input-container>
      <input mdInput
             ngModel
             name="password"
             placeholder="Password"
             required
             minlength="4">
    </md-input-container>
    <button md-raised-button
            color="primary"
            type="submit"
            class="login-submit"
            [disabled]="isLoginProceeding || loginForm.invalid">
      Login
    </button>
    <button (click)="onRegisterBtnPress()"
            md-button
            color="primary"
            class="login-register"
            [disabled]="isLoginProceeding">
      Sign up
    </button>
  </form>
</div>
