@import '../../common/common';

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  .login-container {
    display: flex;
    flex-direction: column;

    form {
      display: flex;
      flex-direction: column;

      .login-submit {
        margin-bottom: 1rem;
      }
    }
  }
}
