<div class="header-wrapper">
  <div class="app-logo"
       (click)="onMainLogoPress()">
    <div class="app-sign">Media Manager</div>
  </div>
  <div class="about-link"
       [routerLinkActive]="['active']">
    <a class="about-sign"
       [routerLink]="['about']">About</a>
  </div>
  <div class="logout">
    <div *ngIf="logoutBtnVisible"
         (click)="onLogoutBtnPress()"
         class="logout-btn">
      <div class="logout-icon"></div>
      <a class="logout-sign">Logout</a>
    </div>
  </div>
</div>
