@import '../../common/common';

.header-wrapper {

  .header-spacer {
    flex: 1 1 auto;
  }

  .app-logo, .about-link {
    flex: 0 0 auto;
  }

  .app-logo {
    cursor: pointer;

    .app-sign {
      font-size: 2rem;
      font-weight: bold;
    }
  }

  .about-link {
    margin-left: 2rem;

    .about-sign {
      font-size: 2rem;
      text-decoration: none;
      transition: border-color .2s;
      border-bottom: .25rem solid transparent;

      &:active {
        color: inherit;
      }
    }

    &.active, &:hover {
      .about-sign {
        //border-color: #fff;
      }
    }
  }

  .logout {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .logout-btn {
      cursor: pointer;

      .logout-sign {
        font-size: 1rem;
        text-decoration: none;
        transition: border-color .2s;
        border-bottom: .25rem solid transparent;
      }

      &:hover {
        .logout-sign {
          //border-color: #fff;
        }
      }
    }
  }
}
