<div class="register-container">
  <form [formGroup]="formModel"
        novalidate
        (ngSubmit)="onSubmit(formModel.value)">
    <div formGroupName="nameGroup"
         class="form-box">
      <md-input-container>
        <input mdInput
               formControlName="firstName"
               placeholder="First name">
      </md-input-container>
      <md-input-container>
        <input mdInput
               formControlName="secondName"
               placeholder="Second name">
      </md-input-container>
    </div>
    <div formGroupName="loginGroup"
         class="form-box">
      <md-input-container>
        <input mdInput
               formControlName="login"
               placeholder="Login">
      </md-input-container>
      <md-input-container>
        <input mdInput
               formControlName="email"
               placeholder="Email">
      </md-input-container>
    </div>
    <div formGroupName="passwordGroup"
         class="form-box">
      <md-input-container>
        <input mdInput
               formControlName="password"
               type="password"
               placeholder="Password">
      </md-input-container>
      <md-input-container>
        <input mdInput
               formControlName="passwordConfirm"
               type="password"
               placeholder="Confirm password">
      </md-input-container>
    </div>
    <div class="form-box">
      <button md-raised-button
              color="primary"
              type="submit"
              class="register-submit"
              [disabled]="formModel.invalid || isRegisterProceeding">
        Login
      </button>
      <button (click)="onRegisterBtnPress()"
              md-button
              color="primary"
              type="reset"
              class="register-reset"
              [disabled]="formModel.pristine || isRegisterProceeding">
        Clear
      </button>
    </div>
  </form>
</div>
