/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

app-root {
  width: 1800px;
  height: 100%;
}

/*md-select style change (placeholder position by default differs from md-input)*/
.mat-select-placeholder.mat-floating-placeholder {
  top: -18px !important;
}
/*stretch tab content to full size to avoid scrollbar artifact during tab switch*/
.mat-tab-group, .mat-tab-body-wrapper {
  flex-grow: 1;
}
/*remove `*` symbol from input placeholder (looks bad)*/
.mat-placeholder-required {
  display: none;
}
